/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1E1E1E;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

@media (min-width: 768px) {
    .dashed-connect::after {
        content: "";
        position: absolute;
        height: 2px;
        right: -32%;
        width: 65%;
        height: 1px;
        inset: 25px -30% auto auto;
        border-top: dashed 2px #3c103f;
    }

    .dashed-connect:last-child::after {
        display: none;
    }
}

@media (max-width: 768px) {
    .dashed-connect:first-child::after {
        display: none;
    }

    .dashed-connect::after {
        content: "";
        position: absolute;
        right: -100px;
        bottom: 0px;
        width: 2px;
        height: 40px;
        inset: -40px 50% auto auto;
        border-left: dashed 2px #3c103f;
    }
}

.nav-icon{
    position: absolute;
    left: calc( 50% - 15px);
    top: -15px;
    transform: rotate(60deg);
    background-color: #EAE8E8;
    width: 30px;
    height: 30px;
    font-size: 25px;
}


.nav-icon-title{
    position: absolute;
    left: calc( 50% - 15px);
    bottom: -15px;
    transform: rotate(60deg);
    width: 30px;
    height: 30px;
    font-size: 25px;
}

#pricing-table tbody tr:last-child>* {
    padding-bottom: 43px;
}

#pricing-table tbody tr>td {
    position: relative;
}

#pricing-table tbody tr>td::after {
    content: "";
    background: #E0E0E0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 1px;
}

#pricing-table tbody tr:last-child>td::after {
    content: "";
    background: #E0E0E0;
    position: absolute;
    top: 0;
    right: 0;
    height: 60%;
    width: 1x;
}

.add-line-bottom {
    padding-bottom: 30px;
}

.add-line-bottom::after {
    content: "";
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 45px;
}

.itinerary-dots {
    background-image: radial-gradient(circle, #691B16 2px, transparent 3px);
    position: absolute;
    top: 30px;
    width: 80px;
    height: 90%;
    margin: 0 auto;
    margin-left: 16px;
    background-size: 100% 15px;
}

.itinerary-item:last-child .itinerary-indicator::after {
    content: ' ';
    position: absolute;
    background-color: #FFF;
    width: 80px;
    height: 178px;
    top: 65px;
}

@layer components {
    .btn-primary {
        @apply cursor-pointer bg-primary text-white border font-sans tracking-wide px-6 py-4 transition ease-in-out text-center
    }

    .btn-primary:hover {
        @apply bg-white text-primary border-primary
    }

    .btn-secondary {
        @apply cursor-pointer bg-secondary text-primary border font-sans tracking-wide py-4 px-6 transition ease-in-out text-center
    }

    .btn-secondary:hover {
        @apply bg-primary text-secondary
    }
}