---
import consultantImage from "../assets/Consultant.png";

interface Props {
    section: ConsultantInformaton;
    id: string;
}

const { section } = Astro.props as Props;
---

<div
    class="flex flex-col gap-4 container mx-auto max-w-screen-lg pb-[80px] max-md:pb-[60px] pt-[10px] max-md:pt-[10px] max-md:px-4"
>
    <div class="flex flex-col gap-4 w-full  place-items-center">
        <img
            src={consultantImage.src}
            alt="Consultant"
            class="h-[130px] w-[130px] border-solid rounded-full"
        />
        <div class="">
            <span class="text-xl">{section.consultant.name}</span>
        </div>
        {
            section.consultant.phoneNumber && (
                <div>
                    <a
                        href={section.consultant.callbackUrl}
                        class="btn-primary"
                    >
                        Arrange Callback
                    </a>
                </div>
            )
        }
    </div>
</div>
