---
import logoDark from "../assets/logo.png";
interface Props {
    quoteId: string;
}

const { quoteId } = Astro.props;
---

<div class="w-full bg-accent flex flex-col md:flex-row py-6 gap-4 justify-between items-center place-items-center px-[10px]">
    <div class="md:w-1/3 md:text-left">
        <img src={logoDark.src} class="max-w-96 md:w-auto" />
    </div>
    <div class="md:w-1/3 text-center">
        <h1 class="text-3xl md:text-4xl font-serif">Your Quote</h1>
    </div>
    <div class="md:w-1/3 md:text-right">
        <span class="text-secondary md:text-xl ">Quote ID: {quoteId}</span>
    </div>
</div>
